/* A very basic reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.6;
  background-color: rgb(115 64 96 / var(--tw-bg-opacity, 1));
  color: #0e0d0d;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.4em;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.header {
    color: white;
  background-color: rgb(115 64 96 / var(--tw-bg-opacity, 1));
  text-align: center;
}
.header-con img {
  border-radius: 50%;
}

.description{
    background-color: #F5F5DC;
    width: 98%;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.description p{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #5a5858;
}

.ingredients{
    margin-left: 33px;
    margin-right: 33px;
}

.ingredients fieldset{
    
}
.ingredients legend{
    margin-left: 20em;
}
.ingredients li{
    margin-top: 1em;
    font-size: 20px;
    margin-left: 6em;
    list-style-type: circle;
}