/* A very basic reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.6;
  background-color: rgb(115 64 96 / var(--tw-bg-opacity, 1));
  color: #0e0d0d;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.4em;
}

a {
  color: #080808;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.header {
    color: white;
  background-color: #734060;
  text-align: center;
}

.header-con h4{
    padding: 20px;
}

.header-con img {
  border-radius: 50%;
}

.description{
    background-color: #916b83a8;
    width: 98%;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px 30px 0 0;
}

.description p{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #ffffff;
}

.ingredients{
    margin-left: 33px;
    margin-right: 33px;
}

.ingredients h2{
   color: #0c0c0c;
}
.ingredients legend{
    margin-left: 20em;
}
.ingredients li{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 20px;
    margin-left: 6em;
    list-style-type: none;
    color: #ffffff;
    font-family: serif;
}

.instructions{
    padding: 5em;
    margin-top: 25px;
    font-size: 18px;
    color: rgb(8, 8, 8);
}


/* Design */
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/* html {
  background-color: #ecf9ff;
} */

/* body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
} */

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: #d66be4;
  height: 100%;
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}